body {
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, sans-serif;
  transition: background-color 0.5s, color 0.5s;
  text-align: center;
  padding-top: 50px;
}
h1 {
  color: #007bff;
}
.dark-mode {
  background-color: #121212;
}
.dark-mode h1 {
  color: violet;
}
#mod-escu {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}
.dark-mode #mod-escu {
  background-color: violet;
}
